// compileCompressed: ../../style.css, sourceMap: true

@import "wordpress-headers";
@import "_bootstrap";
@import "materialize";
@import "colors";
@import "mixins";

$color-primary: rgb(0, 150, 136);
$color-primary-dark: darken($color-primary, 5%);

$color-menu-1-inactive: darken($color-primary, 5%);
$color-menu-1-active: $color-white;

@charset "utf-8";

@import "overriders";
@import "bootstrap-importers";
@import "header";
@import "wordpress-core";
@import "main";
@import "portfolio";